body {
    font-family: Arial, sans-serif;
}

img {
    height: auto;
    width: 300px;
}

h1  {
    text-align: center; 
}

.main {
    background-color: yellow;
}

.center {
    text-align: center;
}

.side-recipe {
    display: inline-block;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
    
}

ul {
    margin: 0 auto;
    text-align: center;
}

.main-page {
    color: red;
}