body {
    font-family: Arial, sans-serif;
}

img {
    height: auto;
    width: 300px;
}

h1  {
    text-align: center; 
}

.main {
    background-color: yellow;
}

.center {
    text-align: center;
}


